@model Tourism_1.Models.TourGuide

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TourGuide</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.GuideId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuideId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuideId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.GuideName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label>Guide Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuideName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuideName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.GuideMobile, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label>Guide Mobile Number</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuideMobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuideMobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.GuideEmail, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label>Guide Email</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuideEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuideEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.GuideAddress, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label>Guide Address</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuideAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GuideAddress, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2">City</label>
            <div class="col-md-10" style="position:relative;left:10rem">
                
                @Html.DropDownListFor(model => model.CityId, ViewBag.citiess as SelectList, "--Select City", new { htmlAttributes = new { @class = "form-control dropdown" } })
                @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Charges, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Charges, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Charges, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
