@model IEnumerable<Tourism_1.Models.places_in_city>

@{
    ViewBag.Title = "AllActivities";
}

<h2>AllActivities</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Activity)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Activity)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })

            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to See Packagaes", "SeePlaces", new { id = Convert.ToInt32(Session["place_id"]) });
